*{
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
    padding-top: 20px;
}


#Add{
    padding: 15px 0px;
    border: none;
    border-radius: 10px;
    background-color: green;
    cursor: pointer;
}

.grid-container{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;

}

#work , #date{
    font-size: 15px;
    padding: 10px  5px;

}

.delete{
    padding: 15px 0px;
    border: none;
    border-radius: 10px;
    background-color: red;
    cursor: pointer;
}

